/*! Resets */

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a,
a:active,
a:visited,
a:focus {
  text-decoration: none;
  color: hsl(0, 0%, 100%);
}
li {
  text-decoration: none;
  list-style: none;
}

/*! Content styles */
/*? body and nav section */

body {
  background-image: url("/pics/sphynx6.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.nav-img {
  max-width: 8rem;
  margin-left: 2rem;
}
.nav-bar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9;
  max-height: 10rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: hsl(214, 17%, 27%);
  border-radius: 1rem;
}
.nav-links {
  margin-right: 2rem;
  display: flex;
  gap: 2rem;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}
.nav-links a {
  font-size: 1.3rem;
}
.nav-links a:hover {
  border-bottom: 1px solid hsl(0, 0%, 100%);
}

/*? hero section */

.hero {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 9rem;
  height: 100vh;
  align-items: center;
  justify-items: center;
}
.hero-text {
  grid-area: 1 / 1 / 2 / 2;
  border-radius: 1rem;
  background-color: hsla(215, 28%, 17%, 0.699);
  margin-left: 5rem;
  max-width: 700px;
  max-height: 23rem;
  box-shadow: 3px -2px 5px 5px hsl(0, 0%, 100%);
}
.hero-title {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 3vw;
  color: hsl(0, 0%, 100%);
  margin: 1.2rem;
}
.hero-subtitle {
  font-size: 1.2vw;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  color: hsl(0, 0%, 100%);
  margin: 1.2rem;
}
.hero-btn {
  font-family: "Courier New", Courier, monospace;
  background-color: hsl(217, 91%, 59%);
  color: hsl(0, 0%, 100%);
  padding: 0.3rem 0.7rem 0.3rem 0.7rem;
  margin: 1.2rem;
  border: none;
  border-radius: 1rem;
  cursor: pointer;
}
.hero-btn:hover {
  scale: 1.1;
}
.hero-placeholderImg {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  grid-area: 1 / 2 / 2 / 3;
}
.hero-img {
  max-height: 23rem;
  border-radius: 1rem;
  box-shadow: 0 0 5px 5px hsl(0, 0%, 100%);
  transition: all 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.hero-img:hover {
  scale: 1.1;
  translate: -5%;
}

/* ? info section */

.random-info {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.info-title {
  text-align: center;
  margin: -15% 0 5rem 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-shadow: 5px 5px 5px hsl(0, 0%, 100%);
  font-size: 5vh;
}
.info-cards {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.card-img {
  max-width: 11rem;
  border-radius: 1rem;
  transition: all 1s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.card-img.active {
  filter: blur(2px);
}
.card {
  cursor: pointer;
  max-height: 16.5rem;
}
.card-text {
  max-width: 9.5rem;
  text-align: center;
  margin: auto;
  text-shadow: 5px 5px 5px hsla(215, 28%, 17%);
  transition: all 1s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  display: none;
}
.card-text.active {
  transform: translatey(-180%);
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 1.1rem;
  color: hsl(0, 0%, 100%);

  display: block;
}

/* ? Future breakpoints */
@media (max-width: 960px) {
  .hero-text {
    max-height: 50rem;
  }
}
